{% extends 'base.twig' %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <br><br>
    <h4 class="header">Diseño de actividades</h4>
    <div class="row">
 <div class="col s4 m4 z-depth-0 white">
   <div class="box">
     <div class="collection">
      <a class="collection-item avatar" href="#!"><i class="material-icons circle blue left">directions_walk</i><b>Actividad A</b> <br>Estación</a>
      <a class="collection-item avatar" href="#!"><i class="material-icons circle red left">directions_walk</i><b>Acitividad B</b> <br>Con pregunta</a>
      <a class="collection-item avatar" href="#!"><i class="material-icons circle green left">directions_walk</i><b>Actividad C</b> <br>Con tiempo límite</a>
      <a class="collection-item avatar" href="#!"><i class="material-icons circle orange left">directions_walk</i><b>Actividad D</b> <br>Con período de tiempo</a>
    </div>
   </div>
 </div>
 <div class="col s8 m8 z-depth-0 indigo lighten-4" style="height: 557px;">
    <br>
    <div class="col offset-s1 s10 offset-m1 m10 z-depth-0 white">
      <div class="col s6 m6">
        <div>
          <select class="input-field initialized" name="type_activity" id="type_activity">
            <option selected="" value="">Selecciona una opcion ...</option>
            <option value="">Estación</option>
            <option value="">Pregunta o acertijo</option>
            <option value="">Pregunta con tiempo</option>
            <option value="">Con personaje</option>
            <option value="">Con periodo de tiempo</option>
            <option value="">Con tiempo límite</option>
            <option value="">Comodín</option>
          </select>
          <label>Tipo de actividad</label>
        </div>
      </div>
      <br>
      <button class="waves-effect waves-light btn" href="#">Nueva actividad</button>
    </div>
    <br><br><br><br>
    <div class="nuevaActividad">
      <div class="row">
        <div class="col offset-s1 s10 offset-m1 m10 z-depth-1 white">
          <form name="formRegister" id="formRegister" action="/Rally/new-user">
            <br>
            <div class="row">
              <div class="input-field col s10 offset-s1 m10 offset-m1">
                <input type="email" class="validate" name="email" id="_email">
                <label for="_email">Pregunta o acertijo</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1 m10 offset-m1">
                <input type="text" class="validate" name="username" id="_username">
                <label for="_username">Lugar</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1 m10 offset-m1">
                <input type="text" class="validate" name="password" id="_password">
                <label for="_password">Tiempo limite</label>
              </div>
            </div>
            <br>
            <div class="center">
              <a class="waves-effect red lighten-1 btn" href="#">Cancelar</a>
              <a class="waves-effect green lighten-1 btn" href="#">Aceptar</a>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
 </div>
</div>
</div>
{% endblock %}
