{% extends 'base.twig' %}
{% block css %}
  <style>
    .map {
      display: block;
      width: 100%;
      height: 460px;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <br><br>
    <h4 class="header">Carga de estaciones</h4>
    <div class="row">
      <div class="col s4 m4 z-depth-0 white">
        <div class="box">
          <div class="collection">
            <div id="listView"></div>
          </div>
        </div>
      </div>
      <div style="height: 557px;" class="col s8 m8 z-depth-0 indigo lighten-4">
        <br>
        <div id="new">
          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10 z-depth-3 white">
              <h5 class="header center">Clic en el mapa!</h5>
              <div id="map" class="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
        {#<div id="viewStation">
          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10">
              <div class="card">
                <div class="card-content">
                  <span class="card-title black-text"><div id="view_nameteam"></div></span>
                  <div id="map2" class="map"></div>
                </div>
                <div class="card-action">
                  <a href="javascript:void(0);" id="closeViewStation" name="closeViewStation">Cerrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>#}
  </div>

  <div id="add" class="modal">
    <div class="modal-content">
      <form id="formNew" action="{{ urlFor('new-station-post') }}">
      <h4 class="modal-title">Estación</h4>
        <div class="row">
          <div class="input-field col s10 offset-s1 m10 offset-m1">
            <input id="name" name="name" type="text" class="validate">
            <label for="name">Nombre</label>
          </div>
        </div>
        {{ f.hide('lat') }}
        {{ f.hide('lng') }}
    </form>
    </div>
    <div class="modal-footer">
        <a id="btnCancel" href="javascript:void(0);" class="modal-action modal-close waves-effect btn red lighten-1">Cancelar</a>
        <button id="btnNew" type="submit" class="modal-close waves-effect btn green lighten-1">Guardar</button>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    $(document).ready(function(){
      stations();

      var map = new GMaps({
          div: '#map',
          lat: 22.0030923,
          lng: -99.0203763,
          zoom: 15,
          enableNewStyle: true,
          click: function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            //alert('Lat: '+lat+"Lng: "+lng);
            $('#lat').val(lat);
            $('#lng').val(lng);
            $('#add').openModal();
          }
      });

      GMaps.geolocate({
        success: function(position) {
          map.setCenter(position.coords.latitude, position.coords.longitude);
        }
      });

     /* $(document).on('click', 'a[data-toggle="modal"]', function(event) {
        $('#newStation').hide();
        $('#viewStation').show();
        var link = $(this);
        var id = link.data('id');
        team(id);
      });

      $('#closeView').click(function(event) {
        $('#view').hide();
      });

      $('#closeNew').click(function(event) {
        $('#new').hide();
      }); */

      $('#btnNew').click(function(event) {
        var url = $('#formNew').attr('action');
        var name = $('#name').val();
        var lat = $('#lat').val();
        var lng = $('#lng').val();
        if (name == "") {
          Materialize.toast('Datos incompletos!', 4000, 'rounded')
        } else {
          $.ajax({
              url: url,
              type: "POST",
              dataType: "json",
              data: $('#formNew').serialize(),
              success: function(data) {
                if(data.status == 1){
                  Materialize.toast('Estación&nbsp;<span class="yellow-text">registrada!<span>', 4000, 'rounded')
                  stations();
                  $('#name').val("");
                } else if(data.status == 2){
                  Materialize.toast('Error del servidor!', 4000, 'rounded')
                }
              }
            })
        }
      });

      function stations () {
        $.ajax({
          url: 'stations',
          type: 'GET',
          dataType: 'json',
          data: '',
          success: function(data) {
            if (data.length) {
              $('#listView').empty();
              for (var i = data.length - 1; i >= 0; i--) {
                $('#listView').append('<a href="javascript:void(0);" class="collection-item avatar waves-effect waves-red" data-toggle="modal_station" data-id="'+data[i].id+'"><i class="material-icons circle red left">place</i> Estación <br> <b>'+data[i].name+'</b></a>');
              };
            } else {
              //$('#listViewTeams').append('<h4>Sin grupos</h4>');
              $('#new').show();
            };
          }
        });
      }

      function station (id){
        $.ajax({
          url: 'station/'+id,
          type: 'GET',
          dataType: 'json',
          data: '',
          success: function(data) {
            $('#view_name').empty();
            $('#view_name').html('<b>'+data.name+'</b>');
          }
        });
      }

    });
  </script>
{% endblock %}
